@page "/"
@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations
@using SecretSanta.Web.Models
@using SecretSanta.Web.Services
@inject LotteryApiClient lotteryApi

<PageTitle>Secret Santa / Amigo Oculto</PageTitle>

<h2>Secret Santa / Amigo Oculto</h2>

<div class="row">
    <div class="col-md-12">

        <div class="row">
            <h6 class="col-md-2">Friends Number / Nº Amigos</h6>
            <div class="col-md-8">
                <InputNumber @bind-Value="NFriends" class="form-control" />
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" @onclick="StepUpFriendsNumber">
                    <i class="bi-plus-circle"></i>
                </button>
                <button class="btn btn-outline-dark" @onclick="StepDownFriendsNumber">
                    <i class="bi-dash-circle" Name="DashCircle"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<hr />
<EditForm Model="Friends" FormName="sortear" OnValidSubmit="Sortear">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <CustomValidation @ref="customValidation" />
    <div class="col-md-12 block">
        @foreach (var item in Friends)
        {
            @* num_index++; *@
            <div class="row">
                @* <span class="col-md-2 friend-label">
                    <label>Friend/Amigo #@num_index</label>
                </span> *@
                <span class="col-md-5">
                    <InputText placeholder="Nome"
                               @bind-Value="item.Name" class="form-control col-md-6" />
                    <ValidationMessage For="@(() => item.Name)" class="text-danger" />
                </span>
                <span class="col-md-5">
                    <InputText placeholder="Email"
                               @bind-Value="item.Email" class="form-control col-md-6" />
                    <ValidationMessage For="@(() => item.Email)" class="text-danger" />
                </span>
            </div>
        }
        <br />
        <button type="submit" class="btn btn-dark">Roll / Sortear</button>
    </div>
</EditForm>
<hr />

@if (Pairs.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Dador / Giver</th>
                <th scope="col">Recebedor / Receiver</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PairFriends pair in Pairs)
            {
                <tr scope="row">
                    <td>@pair!.Giver!.Name</td>
                    <td>@pair!.Receiver!.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
